<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accordion</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>The amazing Lemurs</h1>
    <div class="container">
      <div class="image-section">
        <div class="class1"></div>
        <div class="class2"></div>
        <div class="class3"></div>
      </div>
      <div class="text-section" id="app">
        <h3>
          {{ animal}}s are a group of cute animals that are endemic to the {{ origin
          }}. They are {{ size }} animals. They may live up to {{ lifespan }}
          years.
        </h3>
        <div class="accordion-section">
          <div class="part-section">
            <div class="part-section-up">
              <h4>Habitat</h4>
              <img
                @click="toggleShowInfo"
                src="./assets/next.png"
                alt="arrow"
                class="arrow"
                :class="{ 'rotate': arrowRotated }"
              />
              <!-- 1* -->
            </div>
            <div v-if="showInfo">
              <p>
                Lemurs are exclusively found on the island of Madagascar and
                nearby Comoros Islands. Their habitat ranges from rainforests
                and dry forests to spiny forests and mountainous regions. Due to
                Madagascar's diverse ecosystems, lemurs have adapted to a
                variety of environments, showcasing their versatility in
                adapting to different ecological niches.
              </p>
            </div>
          </div>

          <div class="part-section">
            <div class="part-section-up">
              <h4>Diet</h4>
              <img
                @click="toggleShowChar"
                src="./assets/next.png"
                alt="arrow"
                class="arrow"
                :class="{ 'rotate': arrowRotatedChar }"
              />
              <!-- 1* -->
            </div>
            <div v-if="showChar">
              <p>
                Lemurs are omnivores, and their diet varies based on their species and habitat. They consume a mix of fruits, leaves, flowers, insects, and small vertebrates. The aye-aye, with its specialized finger, is particularly adept at extracting insect larvae from tree bark.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>

<!-- 
    1*. :class is used to dynamically apply one or more classes to an element based on a condition. The syntax :class="{ 'rotate': arrowRotated }" is a shorthand for conditionally applying the class rotate to the element when the arrowRotated property is true. -->
